body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.search {
    text-align: center;
    margin-bottom: 20px;
}

#locationInput {
    padding: 10px;
    width: 60%;
}

#searchButton {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

.weather {
    text-align: center;
    display: flex;
    flex-direction: column; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

#weatherInfo {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
